extends layout

block content
  div.logohead Wildfire Watch

  p
    span#fire_count
    | Active Fires
  ul.active_fires

  script(type="dust").
    <li>
      {name}
    </li>

  script.
    forestfire.setup(function(){
      var template = jQuery('script[type="dust"]').text()
      dust.compileFn(template, "active_fires")
      var features = forestfire.fires().features
      jQuery('#fire_count').html(features.length)
      for(var idx in features) {
        var fire = features[idx]
        var data = {name:fire.properties.name}
        dust.render("active_fires", data, function(err,out){
          console.log('appending '+err)
          jQuery('.active_fires').append(out)
        })
      }

    })
